
/*mode ningth*/
.textNingthMode{
	color: white;
}
.containerModeNigth{
   background-color: white;
}
body{
	font-family: 'Barlow', sans-serif;
	background-color: #1c1c1c ;
   overflow: hidden;
}
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/*section welcom*/
#welcomeSection{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 10px;
   transition: 0.6s;
   z-index: 20000000;
}
#textWelcome{      font-family: 'Arial', sans-serif;
      font-size: 24px;
      overflow: hidden; /* Para que el cursor no se vea fuera del cuadro del texto */
      border-right: 2px solid #000; /* Línea que simula el cursor de escritura */
      white-space: nowrap; /* Para que el texto no se divida en varias líneas */
      margin: 0;
      animation: escribiendo 1s steps(40, end);
      border-right:solid 4px transparent;
  }
   @keyframes escribiendo {
      from { width: 0;  border-right: solid 4px white;} /* Ancho inicial, texto invisible */
      to { width: 100%;  border-right: solid 4px white;} /* Ancho final, texto completamente visible */
    }
/*nav pc*/
#navPc{
   position:sticky;
   top: 0;
      z-index:100000;
   height:auto;
   width: 100%;
   padding: 10px;
   margin: 0;
   background-color: #1f1f1f;
   color: white;
}
.optionsOfNav{
   font-size: 30px;
   color: gray;
}
#navReponsiveMovil{display: none; opacity: 1; transition: 0.6s;background-color: #1f1f1f;}
#navPc img{
   width: 40px;
} 
#initSection{
   overflow: auto;
   overflow-x: hidden;
   scrollbar-width: thin;
   transition: 0.6s;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   height: 100vh;
}
#promptsForNavPc{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
   display: inline-block;
   font-size: 15px;
}
#promptsForNavPc a {
   margin: 20px;
   text-decoration: none;
   color: white;
   font-size: 15px;
   font-weight: 100;
}
#promptsForNavPc a:hover{
color: #0090ff;
cursor: pointer;
}
#promptsForNavPc a:hover > #promptsForNavPc i { 
   color: wheat;
}
/* .selectsFonavs{
   text-align: center;
   background-color: transparent;
   border: none;
   margin: 10px;
   font-size: 15px;
} */

#homeInlutration{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
z-index: 50;
position: relative;
/* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
background-repeat:no-repeat ;
height: 100%;
/*border: solid 2px blue;*/
}
.sobrePonerHomeInlutration{
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 100;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   background-color: rgba(30,30, 30, 0.2);
}
.selectsFonavs option{
   background-color: transparent;
   border: none;
}#homeInlutrationImg{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.textOFinlutration{
   z-index: 3000;
   width: 80%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   color: white;
}
#innerText{
   padding: 10px;
   border-radius: 5px;
   float: left;
   width: 50%;
   backdrop-filter: blur(25px);
}
#buttonClick{
   padding: 5px;
   border: none;
   border-radius: 15px 15px 15px 0px;
   margin: 4px;
   cursor: pointer;
}
#consolasSection{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   position: relative;
   height: 100vh;
 background-image: linear-gradient(to right top, #4d0187, #4f1e9d, #4d31b4, #4843ca, #3e55e1, #6c50df, #8d4bdb, #a944d5, #d110a9, #e2007a, #e2004b, #d41d1d);

   padding:10px;
}
/*first Inlutration*/
.inlutrationGames{
   padding: 20px;
   width: 40%;
   height: 50%;
   background-color: transparent;
   position: absolute;
   right: 5%;
   top: 50%;
   border-radius: 20px;
   transform: translate(5%,-50%);
   z-index: 3000;
}
.cajaSobrePonerInlutration{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
}
#imgFirstInlutration{
   transition: 0.8s;
   width: 50%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   
}
#videoInlutrationGames{
   height: 100%;
   width: 100%;
   border-radius: 20px;
   border: solid 3px white;
   object-fit: cover;
}
#nextVideoGame{
   overflow: hidden;
   transition: 0.6s;
position: absolute;
right: 1%;
bottom: -10%;
padding: 5px;
background:white;
color: black;
font-size: 20px;
border: none;
border-radius: 20px;
cursor: pointer;
width: 5%;
}
.textNext{
   transition: 0.4s;
   opacity: 0;
}
.iNext{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}
#nextVideoGame:hover{
   width: 30%;
}
#nextVideoGame:hover > .iNext{
     position: absolute;
   left: 90%;
   top: 50%;
   transform: translate(-90%,-50%);

}
#nextVideoGame:hover > .textNext{
   opacity: 1;
}
/*console section*/
.elementsFather{
              display: flex;

        transition: 0.6s;
/*       white-space: nowrap;*/
            overflow-x: hidden; /* Cambiado a hidden para ocultar la barra de desplazamiento nativa */
            position: relative;
               justify-content: center;  align-items: center;
   width: 80%;
   height: 60%;
   position: absolute;
   left: 50%;
   top: 50%;
   border-radius: 5px;
   transform: translate(-50%,-50%);
   padding: 20px;
/*   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
   overflow: hidden;
   z-index: 400;
}
.containerConsole{
   transition: 0.6s;
      flex: 0 0 auto;
/*        line-height: 150px;*/
   display: inline-block;
   width: 80%;
   height: 90%;
/*   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
   backdrop-filter: blur(10px);

/*      text-align: center;*/
/*            line-height: 150px;*/
             margin: 5px; /* Añadido un margen para separar los elementos */
}
.containerScrollConsolas{
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 500;
}
#buttonMoveScrllooX{
   position: absolute;
   top: 50%;
   left: 5%;
   transform: translate(-1%,-5%);
   border: none;
   background-color: transparent;
   color: black;
   border-radius: 5px;
   height: auto;
}
#buttonMoveScrlloo_X{
  position: absolute;
   right: 5%;
   top: 50%;
      transform: translate(1%,-5%);
   border: none;
   background-color: transparent;
   color: black;
   border-radius: 5px;
   height: auto;
}
.buttonscroll{
   background-color: white;
   padding: 5px;
   border-radius: 5px;
   color: black;
   cursor: pointer;
}
.containerScrollConsolas img{
   width: auto;
   height: 50%;
   display: inline-block;
   float: left;
   position: absolute;
   left: 6%;
   top: 50%;
   transform: translate(-6%,-50%);
   transition: 0.6s;
}
.containerTxtConsoles{
     position: absolute;
   right: 1%;
   top: 20%;
   transform: translate(1%,-20%);
   text-align: left;
   width: 50%;
   height: 10%;
   background-color: transparent;
   position: relative;
   color:white;
   float: right;
   display: inline-block;
   transition: 0.6s;
}
.containerTxtConsoles p{
   font-size: 20px;
}
#gifConsole{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 80%;
   height: 80%;
   border-radius: 20px;
   transform: translate(-50%,-50%);
}
.sobrePonerGifConsole{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   background-color: rgba(30, 30,30, 0.3);
   padding: 10px;
   z-index: 300;
}
.promptsButtonScroll{
   z-index: 600;
}
.animationImgClass{
      animation:initAnimationL1 1s ;
}
@keyframes initAnimationL1{
  from {
    transform: translate(-100%,-50%);
  }
  to {
    transform: translateX(0,-50%);
  }
}
/*Nav responsive*/
#navReponsiveMovil{
   position:relative;
    height:auto;
 background-color: white;
 padding: 10px;
 z-index: 1000;

}
.imgNavRespoviMovil{
  width: 10%;
  height: auto;
}
#menuBarsResponsive{
 position: absolute;
 right: 5%;
 top: 50%;
 scale: 120%;
 font-size: 20px;
 transform: translate(5%,-50%);

}
.separacionOfResponsive{ display:none; }
/*section precios inicio*/
#sectionForPrecios{
   color: white;
  position: relative;
   width: 100%;
   height: 100vh;
   padding: 20px;
}
.sobreponerPrecios{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   background-color: rgba(30, 30,30, 0.4);
   padding: 10px;
   z-index: 300;
}
.containerBySectionPrecios{
   z-index: 3500;
   width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
/* .priceCards{
   width: 250px;
   border-radius: 5px;
   background-color: #1c1c1c;
  height: 250px;
  border: white;
} */
 .containerOfPrices{
   position: absolute;
   left: 50%;
   top: 50%;
   width: auto;
   height: auto;
   transform: translate(-50%,-50%);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .priceCards{
   transition: 0.2s;
   width: 300px;
   margin:20px;
    height: 400px;
    background-color: #1c1c1c;
    box-shadow: 0 0 5px rgba(250,250, 250, 0.3);
    padding:10px;
    position: relative;
    border-radius:10px;
    cursor: pointer;
 }
 .priceCards:hover {
   box-shadow: 0 0 20px rgba(250,250, 250, 0.7);
    scale: 105%;
 }
 .imfOfPricesCards{
   width: 100px;
   position: absolute;
   top: -20%;
   left: 50%;
   transform: translate(-50%,20%);
 }
 .containerOfTextOfPrices{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   text-align: left;
   width:auto;
}
.priceOfCardsPrices{
background-color: #4843ca;
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 20px;
}
.timeOfCardsPrices{
   background-color: #ffffff;
   padding: 10px;
   color: #000;
   border-radius: 5px;
   margin-bottom: 20px;

}
.extraFood{
   background-color: #1a5693;
   padding: 10px;
   color: #ffffff;
   border-radius: 5px;
   width: auto;
   border: solid 3px rgb(63, 107, 78);

}
.extraFood i {
   margin: 5px;
}
.howManyControll{
   margin-bottom: 20px;
   background-color: #1a934c;
   padding: 10px;
   color: #ffffff;
   border-radius: 5px;
   width: auto;
}
.howManyControll i{
   margin: 3px;
}
@media only screen and (max-width : 750px){
   /*first Inlutration*/
   #nextVideoGame{
   overflow: hidden;
   transition: 0.6s;
position: absolute;
right: 5%;
bottom: -25%;
padding: 20px;
background:white;
color: black;
font-size: 20px;
border: none;
border-radius: 20px;
cursor: pointer;
width: 5%;
}
.textNext{
   transition: 0.4s;
   opacity: 0;
}
.iNext{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}
#nextVideoGame:hover{
   width: 40%;
}
#nextVideoGame:hover > .iNext{
     position: absolute;
   left: 95%;
   top: 50%;
   transform: translate(-95%,-50%);

}

.inlutrationGames{
   padding: 20px;
   width: 80%;
   height: 20%;
   background-color: transparent;
   position: absolute;
   right: 0%;
   top: 80%;
   border-radius: 20px;
   transform: translate(0%,-80%);
   z-index: 3000;
}
.cajaSobrePonerInlutration{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
}
#imgFirstInlutration{
   transition: 0.8s;
   width: 50%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   
}
#videoInlutrationGames{
   height: 100%;
   width: 100%;
   border-radius: 20px;
   border: solid 3px white;
   object-fit: cover;
}
.separacionOfResponsive{ display:block }
/*navs*/
   #navPc {
      display: none;
   }
   #navReponsiveMovil{
      display: block;
   }
/*section conosle*/

#consolasSection{
   width: 95%;

   position: relative;
   height: 100vh;
   padding:10px;
border-radius: 0 0 20px 20px;

}

.elementsFather{
              display: flex;

        transition: 0.6s;

            overflow-x: hidden; 
            position: relative;
               justify-content: center;  align-items: center;
   width: 100%;
   height: 70%;
   position: absolute;
   left: 50%;
   top: 50%;
   border-radius: 5px;
   transform: translate(-50%,-50%);
   padding: 20px;

   overflow: hidden;
   z-index: 400;
}
.containerConsole{
   transition: 0.6s;
      flex: 0 0 auto;

   display: inline-block;
   width: 100%;
   height: 70%;

   backdrop-filter: blur(5px);

             margin: 5px; 
}
.containerScrollConsolas{
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 500;
}

.containerScrollConsolas img{
   width: 50%;
   height: 50%;
   object-fit: contain;
   display: inline-block;
   float: left;
   position: absolute;
   left: 6%;
   top: 10%;
   transform: translate(-6%,-10%);
   transition: 0.6s;
}
.containerTxtConsoles{
     position: absolute;
   right: 1%;
   top: 60%;
   transform: translate(1%,-60%);
   text-align: left;
   width: 80%;
   height: 10%;
   background-color: transparent;
   position: relative;
   color:white;
   float: right;
   display: inline-block;
   transition: 0.6s;
}
.containerTxtConsoles p{
   font-size: 20px;
}
#gifConsole{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 90%;
   height: 90%;
   transform: translate(-50%,-50%);
}
.sobrePonerGifConsole{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
   background-color: rgba(30, 30,30, 0.7);
   padding: 10px;
   z-index: 300;
}
#homeInlutration{
width: 95%;
}
#homeInlutration{
border-radius: 20px 20px 0 0;
}
.textOFinlutration{
   z-index: 3000;
   width: 90%;
   position: absolute;
   left: 50%;
   top: 30%;
   transform: translate(-50%,-30%);
   color: white;
}
.textOFinlutration button{
   float: right;
   padding: 10px;
   font-size: 16px;
}
#innerText{
   padding: 20px;
   border-radius: 5px;
   float: left;
   width: 100%;
   backdrop-filter: blur(25px);
   font-size: 20px;
}
}